body {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

form {
    margin-top: 2rem;
    text-align: left;
    margin-left: 1rem;
}

.helptext {
    display: block;
    font-size: .9rem;
    opacity:85%;
}

label {
    margin-top: 1.3rem;
}
