{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/flights/index.css' %}">
    <title>Flights</title>
</head>
<body>
    <!-- Cheapest flights insp search -->
    <section class="container mb-5">
        <form class="form-container" action="{% url 'flights_index' %}" method="post">
            {% csrf_token %}
            <div class="search-container form-floating">
                <input class="search-bar form-control" type="text" name="depart_city" placeholder="Enter city IATA code (i.e SFO, MAD, TYO)">
                <label class="temp-text">Enter city IATA code (i.e SFO, MAD, TYO)</label>
                <div>
                    <button class="btn btn-success" type="submit">Search</button>
                </div>
            </div>
        </form>
        
    </section>

  <a class="city_list" href="https://github.com/amadeus4dev/data-collection/blob/master/data/flightsearch.md" target="_blank">List of available departure cities</a>
    <section class="fluid-container search-results">
        <h1>Departure city: {{ context.depart_city }}</h1>
        <table class="table table-striped">
            <tr>
                <th>Destination</th>
                <th>Departure Date</th>
                <th>Return Date</th>
                <th>Price</th>
            </tr>
            {% for flight in data.data %}
            <tr>
                <td>{{ flight.destination }}</td>
                <td>{{ flight.departureDate }}</td>
                <td>{{ flight.returnDate }}</td>
                <td>{{ flight.price.total }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>
  
</body>
</html>

{% endblock %}