{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" > 
  
    <title>Travel Booklet</title>
</head>
<body>
   
    <!-- Hero Banner -->
    <section class="row container hero_banner">
        <h1 class="banner_title">Travel Booklet</h1>
        <h4 class="banner_slogan">We travel not to escape life,<br>
        but for life not to escape us.</h4>
        <!-- if user is not logged in, go to login page. ELSE go to my trips -->
        <a class="btn btn-dark get_started_btn"
        {% if user.is_authenticated %}
        href="{% url 'trips_index' %}"
        {% else %}
        href="{% url 'account_login' %}"
        {% endif %}
        >
        Get started</a>
    </section>

    <!-- Featured Destinations -->
    <section class="container featured_dest_container  ">
        <h2 class="featured_title">Featured Destinations</h2>
        <div class="cards_container row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 g-sm-2 g-md-2 g-lg-2 p-4">
            <div class="card mb-3 col">
                <div class="card-header "> 
                    <h3>{{ data.0.0 }}</h3>
                </div>
                <div class="card-body">
                    <img class="feat_dest_img img-fluid card-img-top" src="{{ data.0.2.mobile }}">
                </div>
            </div>
            <div class="card mb-3 col">
                <div class="card-header"> 
                   <h3>{{ data.1.0 }}</h3>
                </div>
                <div class="card-body">
                    <img class="feat_dest_img img-fluid card-img-top" src="{{ data.1.2.mobile }}">
                </div>
            </div>
            <div class="card mb-3 col">
                <div class="card-header "> 
                    <h3>{{ data.2.0 }}</h3>
                </div>
                <div class="card-body">
                    <img class="feat_dest_img img-fluid card-img-top" src="{{ data.2.2.mobile }}">
                </div>
            </div>
        </div>
    </section>

</body>

</html>

{% endblock %}