{% extends 'base.html'%}
{% block content%}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"> 
    <title>Travel Booklet</title>
</head>
<body>
    <!-- Hero Banner -->
    <section class="row container hero_banner">
        <h1 class="banner_title">Travel Booklet</h1>
        <h4 class="banner_slogan">We travel not to escape life,<br>
        but for life not to escape us.</h4>
        <a class="btn btn-dark get_started_btn" href="{% url 'account_login' %}">Get started</a>
    </section>
    <!-- Featured Destinations -->
    <section class="row container featured_dest_container ">
        <h2 class="featured_title">Featured Destinations</h2>
        <div class="card mb-3">
            <div class="card-header "> 
                <h3>{{ data.data.0.name }}</h3>
            </div>
            <div class="card-body">
                <img class="feat_dest_img img-fluid card-img-top" src="{{ image1.results.3 }}">
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header "> 
                <h3>{{ data.data.1.name }}</h3>
            </div>
            <div class="card-body">
                <img class="feat_dest_img img-fluid card-img-top" src="{{ image2.results.3 }}">
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header "> 
                <h3>{{ data.data.2.name }}</h3>
            </div>
            <div class="card-body">
                <img class="feat_dest_img img-fluid card-img-top" src="{{ image3.results.3 }}">
            </div>
        </div>
    </section>
</body>

</html>

{% endblock %}